@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Readex Pro", sans-serif;
}

.hover:hover {
  color: black;
  -webkit-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
  text-decoration: none;
}

.navbar {
  display: flex;
  position: static;
  width: 100%;
}

.black {
  background-color: black;
}
.logout-button {
  position: absolute;
  align-self: center;
  padding-top: 5px;
  width: 23px;
  padding-left: 15px;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 18px;
  text-align: center;
}

h4 {
  color: black;
  font-size: 18px;
  text-align: left;
  padding-left: 5px;
  margin-right: auto;
}

h5 {
  color: black;
  font-size: 18px;
  text-align: right;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  align-self: center;
}

.labelTag {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: 18px;
}
.inputTag {
  padding-left: 15px;
  padding-bottom: 20px;
  border: none;
  font-size: 18px;
}

.signin-login {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.welcome {
  align-self: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  border-color: black;
  background-color: black;
  margin-left: 15px;
  margin-right: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
  text-align: center;
  background-color: black;
  padding: 15px 25px 15px 25px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: white;
  font-size: 15px;
}
.button:active,
.button:hover {
  background-color: gray;
  -webkit-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

a {
  text-decoration: none;
  color: gray;
  transition: 0.4s;
}

.input {
  margin-left: 15px;
}

li {
  display: flex;
  flex-direction: row;
  padding: 5px 15px 5px 15px;
}

.yellow {
  background-color: #fee99c;
}

.blue {
  background-color: #9cd4ff;
}

.green {
  background-color: #9cffb2;
}

.orange {
  background-color: #fc4e12;
}
