@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Readex Pro", sans-serif;
}

.navbar {
  display: flex;
}

.black {
  background-color: black;
}
.logout-button {
  align-self: center;
  width: 25px;
  padding-left: 15px;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  align-self: center;
}
