@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Readex Pro", sans-serif;
}

.hover:hover {
  color: black;
  -webkit-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
  text-decoration: none;
}

.navbar {
  display: flex;
}

#footer {
  justify-content: center;
  position: sticky;
  bottom: 0px;
}

.black {
  background-color: black;
}
.logout-button {
  position: absolute;
  align-self: center;
  width: 25px;
  padding-left: 15px;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 18px;
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  align-self: center;
}

.labelTag {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: 18px;
}
.inputTag {
  padding-left: 15px;
  padding-bottom: 20px;
  border: none;
  font-size: 18px;
}

.signin-login {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.welcome {
  align-self: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  height: 1.2px;
  background-color: black;
  margin-left: 15px;
  margin-right: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
  text-align: center;
  background-color: black;
  padding: 15px 25px 15px 25px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: white;
  font-size: 15px;
}
.button:active {
  background-color: gray;
}

a {
  text-decoration: none;
  color: gray;
  transition: 0.4s;
}

.input {
  margin-left: 15px;
}
